.bg-purple
  .container.navbar
    = link_to "Finsweet", root_path, class: "navbar__title"
    .navbar__buttons-container
      = link_to "Home", root_path, class: "button button--orange-text button--no-p"
      = link_to "About Us", about_us_path, class: "button button--text button--no-p"
      .button.button--text.button--no-p Features
      .button.button--text.button--no-p Pricing
      .button.button--text.button--no-p FAQ
      .button.button--big.button--outline Login
