.blog
  = image_tag image
  .blog__date 19 Jan 2022
  .blog__title How one Webflow user grew his single person consultancy from $0-100K in 14 months
  .blog__description See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract
  .button.button--orange-text.button--flex.items-center.button--no-p.mt-8
    Read More
    = inline_svg_tag "icons/right-arrow.svg", class: "w-5 h-5 ml-2"
