.benefits.container
  %h2 The benefits of working with us
  .flex.gap-8.mt-12
    .benefits__block-wrapper
      = inline_svg "icons/write.svg"
      %h3 Customize with ease
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.
    .benefits__block-wrapper
      = inline_svg "icons/ruler.svg"
      %h3 Perfectly Responsive
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.
    .benefits__block-wrapper
      = inline_svg "icons/users.svg"
      %h3 Friendly Support
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.
