.header.container
  .header__wrapper
    %p About us
    %h2 Our designs solve problems
    %span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
  %div
    = image_tag "group-of-people.png"
