.bg-gray
  .mission-and-focus.container
    .mission-and-focus__block-wrapper
      .flex.flex-col.gap-4
        %h3 Our Mission
        %h2 Inspire, Innovate, Share
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      = image_tag "a-man-standing.png"
    .mission-and-focus__block-wrapper
      = image_tag "photo-of-women.png"
      .flex.flex-col.gap-4
        %h3 Our Vision
        %h2 Laser focus
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
