.process.container
  %h1 The process we follow
  .process__blocks-container
    .process__block-wrapper
      .process__icons-wrapper
        %span
        .process__dotted-line
      %h2 Planning
      %p Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
    .process__block-wrapper
      .process__icons-wrapper
        %span
        .process__dotted-line
      %h2 Conception
      %p Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
    .process__block-wrapper
      .process__icons-wrapper
        %span
        .process__dotted-line
      %h2 Design
      %p Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
    .process__block-wrapper
      .process__icons-wrapper
        %span
        .process__dotted-line
      %h2 Development
      %p Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
