.container
  .who-we-are
    .who-we-are__header Who we are
    .who-we-are__wrapper
      .who-we-are__block-wrapper
        %h2 Goal focussed
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .who-we-are__block-wrapper
        %h2 Continuous improvement
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  = image_tag "man-in-blue-jacket.png", class: "w-full"
