.hww.container
  .hww__description
    .hww__title How we work
    .hww__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
    .button.button--orange-text.button--flex.items-center.mt-5.button--no-p
      Keep in touch with us
      = inline_svg_tag "icons/right-arrow.svg", class: "w-5 h-5 ml-2"
  .hww__points-wrapper
    .hww__point
      .hww__number 1
      .hww__point-title Strategy
      .hww__point-desc Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
    .hww__point
      .hww__number 2
      .hww__point-title Wireframing
      .hww__point-desc Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
    .hww__point
      .hww__number 3
      .hww__point-title Design
      .hww__point-desc Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
    .hww__point
      .hww__number 4
      .hww__point-title Development
      .hww__point-desc Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
