.bg-purple.py-60
  .welcome.container
    .welcome__wrapper
      .max-w-xl
        .welcome__title Building stellar websites for early startups
        .welcome__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .flex.items-center.gap-10.mt-12
          .button.button--orange.button--big Start Now
          .button.button--orange-text.button--flex.items-center.button--no-p
            Read More
            = inline_svg_tag "icons/right-arrow.svg", class: "w-5 h-5 ml-2"
      = image_tag "welcome_photo.jpg"
