.bg-purple
  .footer.container
    .footer__info
      %div{ class: "w-1/2" }
        .footer__title Finsweet
        .footer__subtitle We are always open to discuss your project and improve your online presence.
      %div{ class: "w-1/3" }
        .footer__header Lets Talk!
        .footer__subheader We are always open to discuss your project, improve your online presence and help with your UX/UI design challenges.
        .footer__icons-wrapper
          = inline_svg "icons/instagram.svg"
          = inline_svg "icons/facebook.svg"
          = inline_svg "icons/linkedin.svg"
          = inline_svg "icons/twitter.svg"
    .footer__contact-info-wrapper
      .flex.flex-col
        .font-medium.text-lg Email me at
        .text-lg contact@website.com
      .flex.flex-col
        .font-medium.text-lg Call us
        .text-lg 0927 6277 28525
.container.flex.my-8
  .font-medium Copyright 2022, finsweet.com
  .navbar__buttons-container.ml-auto
    .button.button--text.button--no-p Home
    .button.button--text.button--no-p About Us
    .button.button--text.button--no-p Features
    .button.button--text.button--no-p Pricing
    .button.button--text.button--no-p FAQ
